@model DndMagicLibrary.Models.DndClass
<link rel="stylesheet" href="~/Scripts/bootstrap.min.js" />

@{
    ViewBag.Title = "Bard";
}

<h2>Bard</h2>

<p>This is a page about the @Model.Name class.</p>
<p>@Model.Description</p>
<p>The @Model.Name's Hit Die is @Model.Hit_Die</p>

<h2 class="text-center">Click on a level for spell details</h2>
<div class="btn btn-default">@Html.ActionLink("1", "Spell", "1")</div>
<div class="btn btn-default">@Html.ActionLink("2", "Spell", "2")</div>
<div class="btn btn-default">@Html.ActionLink("3", "Spell", "3")</div>
<div class="btn btn-default">@Html.ActionLink("4", "Spell", "4")</div>
<div class="btn btn-default">@Html.ActionLink("5", "Spell", "5")</div>
<div class="btn btn-default">@Html.ActionLink("6", "Spell", "6")</div>
<div class="btn btn-default">@Html.ActionLink("7", "Spell", "7")</div>
<div class="btn btn-default">@Html.ActionLink("8", "Spell", "8")</div>
<div class="btn btn-default">@Html.ActionLink("9", "Spell", "9")</div>


<h2 class="text-center">Click below for more information about the @Model.Name's spellcasting</h2>
@Html.ActionLink("Spellcasting", "GetSpellcastingData")
