@model DndMagicLibrary.Models.DndClass
<script src="~/Scripts/bootstrap.bundle.min.js"></script>

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name.ToUpper()</h2>

<p>This is a page about the @Model.Name class.</p>
<p>@Model.Description</p>
<p>The @Model.Name's Hit Die is @Model.Hit_Die</p>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    @if (Model.Spells.ContainsKey(0))
    {
        <li class="nav-item">
            <a class="nav-link active" id="pills-0-tab" data-toggle="pill" href="#pills-0" role="tab" aria-controls="pills-0" aria-selected="true">Cantrips</a>
        </li>
    }
    @for (var i = 1; i < Model.Spells.Count; i++)
    {
        <li class="nav-item">
            <a class="nav-link" id="pills-@i-tab" data-toggle="pill" href="#pills-@i" role="tab" aria-controls="pills-@i" aria-selected="true">Level @i</a>
        </li>
    }
</ul>
<div class="tab-content" id="pills-tabContent">
    @if (Model.Spells.ContainsKey(0))
    {
        <div class="tab-pane fade show active" id="pills-0" role="tabpanel" aria-labelledby="pills-0-tab">
            <ul>
                @foreach (var spell in Model.Spells[0])
                {
                    <li>@Html.ActionLink(spell, "Spell", "Spell", new { id = spell }, null)</li>
                }
            </ul>
        </div>
    }
    @for (var i = 1; i < Model.Spells.Count; i++)
    {
        <div class="tab-pane fade" id="pills-@i" role="tabpanel" aria-labelledby="pills-@i-tab">
            <ul>
                @foreach (var spell in Model.Spells[i])
                {
                    <li>@Html.ActionLink(spell, "Spell", "Spell", new { id = spell }, null)</li>
                }
            </ul>
        </div>
    }
</div>
