@model DndMagicLibrary.Models.DndClass
<link rel="stylesheet" href="~/Scripts/bootstrap.min.js" />

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name.ToUpper()</h2>

<p>This is a page about the @Model.Name class.</p>
<p>@Model.Description</p>
<p>The @Model.Name's Hit Die is @Model.Hit_Die</p>

<h2 class="text-center">Click on a level for spell details</h2>
<div class="btn btn-info my-2"><a>@Html.ActionLink("Cantrips", "Spell", "Spell", new { id = 0 }, new { Style = "color:White" })</a></div>
<div class="btn btn-info my-2"><a>@Html.ActionLink("Level 1", "Spell", "1", new { Style = "color:White" })</a></div>
<div class="btn btn-info my-2"><a>@Html.ActionLink("Level 2", "Spell", "2", new { Style = "color:White" })</a></div>
<div class="btn btn-info my-2"><a>@Html.ActionLink("Level 3", "Spell", "3", new { Style = "color:White" })</a></div>
<div class="btn btn-info my-2"><a>@Html.ActionLink("Level 4", "Spell", "4", new { Style = "color:White" })</a></div>
<div class="btn btn-info my-2"><a>@Html.ActionLink("Level 5", "Spell", "5", new { Style = "color:White" })</a></div>
<div class="btn btn-info my-2"><a>@Html.ActionLink("Level 6", "Spell", "6", new { Style = "color:White" })</a></div>
<div class="btn btn-info my-2"><a>@Html.ActionLink("Level 7", "Spell", "7", new { Style = "color:White" })</a></div>
<div class="btn btn-info my-2"><a>@Html.ActionLink("Level 8", "Spell", "8", new { Style = "color:White" })</a></div>
<div class="btn btn-info my-2"><a>@Html.ActionLink("Level 9", "Spell", "9", new { Style = "color:White" })</a></div>


<h2 class="text-center">Click below for more information about the @Model.Name's spellcasting</h2>
@Html.ActionLink("Spellcasting", "GetSpellcastingData")
