@model List<DndMagicLibrary.Models.DndClass>
@{
    ViewBag.Title = "D&D Magic Library";
    var firstFour = Model.GetRange(0, 4);
    var lastFour = Model.GetRange(4, 4);
}

<div class="jumbotron">
    <h1>D&D Magic Library</h1>
    <p class="lead">This application will display D&D spells by class and level.</p>
    <p>It uses the <a href="http://www.dnd5eapi.co/" class="btn btn-primary btn-lg">D&D API</a></p>
</div>

<h1 class="text-center my-4 btn-outline-info">D&D Spellcasting Classes</h1>
<div class="row">
    @foreach (var myModel in firstFour)
    {
        <div class="col-md-3">
            <div class="card">
                <h5 class="card-title text-center text-uppercase bg-info py-3">@myModel.Name</h5>
                <div class="card-body">
                    <p class="card-text">@String.Join("", Model.Where(x => x.Name == myModel.Name).Select(x => x.Description))</p>
                    <div class="text-center">
                        <button class="text-center btn btn-light border-dark">@Html.ActionLink($"See {@myModel.Name} Class", "GetDndClass", @myModel)</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    @foreach (var myModel in lastFour)
    {
        <div class="col-md-3">
            <div class="card">
                <h5 class="card-title text-center text-uppercase bg-info py-3">@myModel.Name</h5>
                <div class="card-body">
                    <p class="card-text">@String.Join("", Model.Where(x => x.Name == myModel.Name).Select(x => x.Description))</p>
                    <button class="text-center btn btn-light border-dark">@Html.ActionLink($"See {@myModel.Name} Class", "FindClass", $"Class/{myModel.Name}")</button>
                </div>
            </div>
        </div>
    }
</div>