@model DndMagicLibrary.Models.Spell
@{
    ViewBag.Title = "D&D Magic Library";
}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">

<h1 class="text-center my-4 btn-outline-info">Behold the @Model.Name spell!</h1>
<div class="parchment tangerine">
    <div class="container mx-4">
        <div style="padding: 80px">
            <div><strong>Name:</strong> @Model.Name</div>
            <div>
                <strong>Description:</strong>
                @foreach (var description in @Model.Description)
                {
                    <div>- @description</div>
                }
            </div>
            <div><strong>Range:</strong> @Model.Range</div>
            <div>
                <strong>Components:</strong>
                @foreach (var component in Model.Components)
                {
                    <span>@component</span>
                }
            </div>
            <div><strong>Casting Time:</strong> @Model.CastingTime</div>
            <div><strong>School:</strong> @Model.School.Name</div>
        </div>
    </div>
</div>