@model DndMagicLibrary.Models.Spell
@{
    ViewBag.Title = "D&D Magic Library";
}

<h1 class="text-center my-4 btn-outline-info">Behod the @Model.Name spell!</h1>
<div>
    <div>@Model.Name</div>
    @foreach (var description in @Model.Description)
    {
        <div>@description</div>
    }
    <div>@Model.Range</div>
    <div>
        @foreach (var component in Model.Components)
        {
            <span>@component</span>
        }
    </div>
</div>